body {
    font-family: 'Dela Gothic One', cursive;
    background-color: rgb(171, 246, 243);
    color: indianred;
}



a {
    text-decoration: none;
    color:crimson
}
 a:hover{
    text-decoration: none;
    color:hotpink
 }





table,th,td{
    border:solid black 1px;
    border-collapse: collapse;
}